<h3>FIRTS VIEW</h3>
<form id="form">
    Name: <input type="text" name="name" id="name">
    Price: <input type="number" name="price" id="price">
    <input type="submit" value="SEND">
</form>

<div id="message"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>